# 1

### a)

In [11]:
import pandas as pd

df = pd.DataFrame({
    'D': ['A', 'A', 'A', 'B', 'B', 'B', 'B', 'A', 'B'],
    'y1': [0.24, 0.16, 0.32, 0.54, 0.66, 0.76, 0.41, 0.38, 0.42],
    'y2': [0.36, 0.48, 0.72, 0.11, 0.39, 0.28, 0.53, 0.52, 0.59],
    'y3': [1, 1, 0, 0, 0, 1, 0, 0, 0],
    'y4': [1, 0, 1, 0, 0, 0, 1, 1, 1],
    'y5': [0, 1, 2, 1, 0, 2, 1, 0, 1]
})


df

   D    y1    y2  y3  y4  y5
0  A  0.24  0.36   1   1   0
1  A  0.16  0.48   1   0   1
2  A  0.32  0.72   0   1   2
3  B  0.54  0.11   0   0   1
4  B  0.66  0.39   0   0   0
5  B  0.76  0.28   1   0   2
6  B  0.41  0.53   0   1   1
7  A  0.38  0.52   0   1   0
8  B  0.42  0.59   0   1   1

In [14]:
import numpy as np
from scipy.stats import multivariate_normal

# Training data for y1 and y2
train_y1_y2 = df[['y1', 'y2']][:7].values

# Estimate the mean vector and covariance matrix for y1 and y2
mean_y1_y2 = np.mean(train_y1_y2, axis=0)
cov_y1_y2 = np.cov(train_y1_y2, rowvar=False)
# Create a multivariate normal distribution for y1 and y2
y1_y2_dist = multivariate_normal(mean=mean_y1_y2, cov=cov_y1_y2)

# 2

### a)

In [4]:
import pandas as pd

# Create a DataFrame with your data
data = [0.36, 0.48, 0.72, 0.11, 0.39, 0.28, 0.53, 0.52, 0.59]
df = pd.DataFrame(data, columns=['column_name'])

# Define the number of bins
num_bins = 2

# Perform equal-width discretization
df['bin'] = pd.cut(df['column_name'], bins=num_bins)

# Map bin labels to 0 or 1
df['bin_value'] = df['bin'].apply(lambda x: 0 if x == pd.Interval(0.109, 0.415, closed='right') else 1)

# Print the result
print(df)

   column_name             bin bin_value
0         0.36  (0.109, 0.415]         0
1         0.48   (0.415, 0.72]         1
2         0.72   (0.415, 0.72]         1
3         0.11  (0.109, 0.415]         0
4         0.39  (0.109, 0.415]         0
5         0.28  (0.109, 0.415]         0
6         0.53   (0.415, 0.72]         1
7         0.52   (0.415, 0.72]         1
8         0.59   (0.415, 0.72]         1

### b)